<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title> Your Older Self</title>

		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="bootstrap/dist/css/bootstrap-theme.min.css">

		<link rel="stylesheet" href="main.css">
	</head>
	<body>
		<div class="container">

		 	<div class="row">
				<div class="col-lg-12">
					<div class="glyphicon glyphicon-cloud-upload">
					</div>
					<h1>Upload a picture of yourself</h1>
					<div>
						<button class="btn btn-lg upload-btn" type="button">Select a file</button>
					</div>
				</div>
					
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="glyphicon glyphicons-eye-open">
					</div>
					<h1>Get image</h1>
					<div>
						<button class="btn btn-lg btn-success" id="show-image" type="button">Show pic</button>
					</div>

				</div>
					
			</div>
			<div id="imagesyu">
				
			</div>

			<div><input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br></div>


			<footer class="footer navbar-fixed-bottom">
				<p class="text-center">&copy; Angel copyright 2016</p>
			</footer>
		</div>


		<script src="jquery/dist/js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<input id="upload-input" type="file" name="uploads[]" multiple="multiple"></br>

		<script src="js/main.js"></script>
	</body>
</html>
