
body {
  padding-top: 100px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.upload-btn {
  color: #ffffff;
  background-color: #66a3ff;
  border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
  color: #ffffff;
  background-color: #0066ff;
  border: none;
}

.glyphicon-cloud-upload {
  font-size: 5em;
  color: #9CA3A9;
}


#upload-input {
  display: none;
}
/**

.btn:focus, .upload-btn:focus{
  outline: 0 !important;
}

html,
body {
  height: 100%;
  background-color: none;
}

.row {
  margin-top: 80px;
}

h4 {
  padding-bottom: 30px;
  color: #B8BDC1;
}


h2 {
  margin-top: 15px;
  color: #68757E;
}

.panel {
  padding-top: 20px;
  padding-bottom: 20px;
}


@media (min-width: 768px) {
  .main-container {
	width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
	width: 450px;
  }
}
*/

