html,body{
    height: 100%
}

body {
	padding-top: 100px;
	text-align: center;
	color: white;
	font-family: 'Raleway', sans-serif;
	background-image: url("http://www.publicdomainpictures.net/pictures/30000/velka/human-skull.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}


.upload-btn {
	color: #ffffff;
	background-color: #66a3ff;
	border: none;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active,
.upload-btn.active {
	color: #ffffff;
	background-color: #0066ff;
	border: none;
}

.glyphicon-cloud-upload {
	font-size: 5em;
	color: #9CA3A9;
}


#upload-input {
	display: none;
}


